#NavbarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: dodgerblue;
  color: white;
}
#NavbarContainer > a {
  text-decoration: none;
  color: white;
}

#allSchoolContainer {
  display: flex;
}

#allStudentsContainer {
  display: flex;
  flex-wrap: wrap
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#schoolCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 2px solid black;
  width: 33%;
}

#studentCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 2px solid black;
  width: 33%;
}
.schoolImg {
  height: 30%;
  width: 100%;
}
